---
- name: Deploy Prometheus & Grafana
  hosts: localhost
  connection: local

  tasks:
    - name: Create monitoring namespace
      kubernetes.core.k8s:
        state: present
        src: namespace-monitoring.yaml
        kubeconfig: config

    - name: Deploy Prometheus
      kubernetes.core.k8s:
        state: present
        src: prometheus.yaml
        kubeconfig: config

    - name: Deploy Grafana
      kubernetes.core.k8s:
        state: present
        src: grafana.yaml
        kubeconfig: config

